[submodule "subprojects/sglib"]
	path = subprojects/sglib
	url = https://github.com/Nor-s/sglib.git
[submodule "subprojects/thorvg"]
	path = subprojects/thorvg
	url = https://github.com/Nor-s/thorvg.git
[submodule "subprojects/imgui/textEditor"]
	path = subprojects/imgui/textEditor
	url = https://github.com/Nor-s/ImGuiColorTextEdit.git
[submodule "subprojects/slang"]
	path = subprojects/slang
	url = https://github.com/Nor-s/slang.git
[submodule "subprojects/entt"]
	path = subprojects/entt
	url = https://github.com/Nor-s/entt.git
